<%= form_for(@stressor) do |f| %>
  <% if @stressor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stressor.errors.count, "error") %> prohibited this stressor from being saved:</h2>

      <ul>
      <% @stressor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
