<h1>Listing physical_activities</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @physical_activities.each do |physical_activity| %>
      <tr>
        <td><%= link_to 'Show', physical_activity %></td>
        <td><%= link_to 'Edit', edit_physical_activity_path(physical_activity) %></td>
        <td><%= link_to 'Destroy', physical_activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Physical activity', new_physical_activity_path %>
